In [ ]:
# Import Excel Sheet with Rentenddaten

import pandas as pd

pd.set_option('display.max.rows', None)
pd.set_option('display.max.columns', None)

df = pd.read_csv(r"C:\\Users\\jhummels\\OneDrive - DIW Berlin\\Gehlen, Annica's files - retirement-labor-shortages\\Data\\Renten_data\\fdz_output_rentenzugaenge_berufsgruppen.csv")

In [19]:
df.head(20)

,kldb2010_3_akvs,bland,rente_regel,arbeitet_ft,rente_beslang,rente_lang,rente_schwerb,rente_em,arbeitet,rentner,alter_rentenzugang,rtbt,pfmo,counter,year
0,0.0,0,0.641261,0.000000,0.055957,0.207689,0.008529,0.091348,0.000000,0.967357,64.729759,254.228054,332.55533,101185.0,2022
1,0.0,1,0.732835,0.000040,0.044054,0.092990,0.031730,0.103433,0.000080,0.999720,64.617706,540.820628,230.67206,24992.0,2022
2,0.0,2,0.701690,0.000073,0.033877,0.085095,0.031975,0.153069,0.000073,0.999341,64.294197,511.974921,232.79111,13667.0,2022
3,0.0,3,0.719319,0.000015,0.044669,0.096806,0.026955,0.118006,0.000045,0.999609,64.494087,521.058063,228.55803,66556.0,2022
4,0.0,4,0.704493,0.000000,0.038181,0.098917,0.036938,0.127331,0.000000,0.999467,64.396942,526.455047,236.63985,5631.0,2022
5,0.0,5,0.685581,0.000018,0.045222,0.104658,0.045973,0.123939,0.000036,0.999008,64.352127,538.538743,241.31412,166380.0,2022
6,0.0,6,0.714390,0.000018,0.044856,0.091992,0.037360,0.116940,0.000018,0.999697,64.486382,524.535123,233.00395,56157.0,2022
7,0.0,7,0.715004,0.000000,0.056030,0.106000,0.029590,0.098351,0.000000,0.999735,64.613930,511.056697,231.49237,37783.0,2022
8,0.0,8,0.718334,0.000000,0.061917,0.107980,0.035861,0.079886,0.000000,0.999603,64.755005,523.961727,247.80115,90767.0,2022
9,0.0,9,0.731921,0.000009,0.057126,0.100389,0.036692,0.077962,0.000009,0.999682,64.750923,509.102273,233.83922,106834.0,2022
10,0.0,10,0.684215,0.000000,0.053329,0.111016,0.031621,0.126998,0.000000,0.999915,64.323959,538.534116,244.83232,11701.0,2022
11,0.0,11,0.638721,0.000000,0.033082,0.089049,0.042197,0.205672,0.000000,0.999475,63.860668,568.083176,258.20029,30500.0,2022
12,0.0,12,0.547662,0.000065,0.087263,0.176021,0.042998,0.153401,0.000098,0.999545,63.848003,738.373586,329.12805,30769.0,2022
13,0.0,13,0.512895,0.000056,0.074676,0.183907,0.052706,0.182671,0.000056,0.999719,63.509140,711.345209,335.22003,17797.0,2022
14,0.0,14,0.487330,0.000000,0.111941,0.203967,0.057247,0.146747,0.000053,0.999043,63.743713,728.514964,340.51508,37609.0,2022
15,0.0,15,0.449637,0.000000,0.105321,0.245230,0.038937,0.167645,0.000000,0.999549,63.517323,732.860920,350.00336,24373.0,2022
16,0.0,16,0.526003,0.000046,0.101676,0.175380,0.061253,0.142373,0.000046,0.999588,63.797966,754.890279,334.45764,21844.0,2022
17,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
18,11.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
19,11.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [ ]:
df.shape

(28292, 15)

In [8]:
df.columns

Index(['kldb2010_3_akvs', 'bland', 'rente_regel', 'arbeitet_ft',
       'rente_beslang', 'rente_lang', 'rente_schwerb', 'rente_em', 'arbeitet',
       'rentner', 'alter_rentenzugang', 'rtbt', 'pfmo', 'counter', 'year'],
      dtype='object')

In [10]:
df.isnull().sum()

kldb2010_3_akvs        187
bland                    0
rente_regel           2921
arbeitet_ft           2921
rente_beslang         2921
rente_lang            2921
rente_schwerb         2921
rente_em              2921
arbeitet              2921
rentner               2921
alter_rentenzugang    3108
rtbt                  3108
pfmo                  3108
counter               2921
year                     0
dtype: int64

In [14]:
# Display unique values in the 'kldb2010_3_akvs' column
unique_values = df["kldb2010_3_akvs"].unique()
print(unique_values)

# Count the number of unique values
unique_count = df["kldb2010_3_akvs"].nunique()
print(unique_count)

[  0.  11.  12.  13.  14. 110. 111. 112. 113. 114. 115. 116. 117. 118.
 119. 120. 121. 122. 123. 125. 128. 129. 130. 131. 132. 133. 134. 136.
 138. 139. 140. 141. 142. 143. 144. 145. 148. 150. 151. 152. 153. 159.
 160. 162. 163. 169. 171. 172. 179. 182. 188. 210. 211. 212. 213. 214.
 216. 217. 218. 219. 220. 221. 222. 223. 224. 225. 226. 227. 228. 229.
 230. 231. 232. 233. 234. 238. 239. 240. 241. 242. 243. 244. 245. 250.
 251. 252. 253. 254. 259. 261. 262. 263. 271. 272. 273. 281. 282. 283.
 291. 292. 293. 310. 311. 312. 313. 314. 315. 318. 319. 320. 321. 322.
 323. 324. 325. 328. 329. 330. 331. 332. 333. 334. 335. 338. 339. 340.
 341. 342. 343. 349. 351. 352. 362. 365. 410. 411. 412. 413. 414. 415.
 418. 419. 420. 421. 422. 423. 429. 430. 431. 432. 433. 434. 439. 440.
 441. 442. 449. 451. 452. 453. 455. 459. 461. 462. 471. 510. 511. 512.
 513. 514. 515. 516. 518. 519. 520. 521. 522. 523. 524. 525. 529. 531.
 532. 533. 541. 611. 612. 613. 621. 622. 623. 624. 625. 626. 629. 630.
 631. 632. 633. 634. 638. 639. 710. 711. 712. 713. 714. 715. 718. 719.
 721. 722. 723. 729. 730. 731. 732. 733. 739. 810. 811. 812. 813. 814.
 815. 816. 817. 818. 821. 822. 823. 824. 825. 830. 831. 832. 833. 839.
 841. 842. 843. 844. 845. 854. 876. 910. 911. 912. 913. 914. 920. 921.
 922. 923. 924. 925. 926. 929. 930. 931. 932. 933. 934. 935. 936. 938.
 941. 942. 943. 944. 945. 946. 947.  nan  51. 472. 784.  62. 482. 682.
 753. 356. 744. 834. 888. 861. 164. 180. 189. 316. 438. 448. 939. 158.
 166. 360. 424. 450. 149. 928.]
299

In [18]:
# Display unique values in the 'Year' column
unique_values_Year = df["year"].unique()
print(unique_values_Year)

[2022 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]

In [ ]:
# Get unique values for 'Bundesländer', 'Berufsgruppen', and 'Year'
unique_bundeslaender = df["bland"].unique()  # Replace with the actual column name for Bundesländer
unique_berufsgruppen = df["kldb2010_3_akvs"].unique()  # Replace with the actual column name for Berufsgruppen
unique_years = df["year"].unique()  # Assuming 'year' is the column name for years

# Create a Cartesian product of all possible combinations
import itertools
all_combinations = set(itertools.product(unique_bundeslaender, unique_berufsgruppen, unique_years))

# Get the actual combinations present in the DataFrame
actual_combinations = set(zip(df["bland"], df["kldb2010_3_akvs"], df["year"]))

# Check for missing combinations
missing_combinations = all_combinations - actual_combinations

if missing_combinations:
    print("The following combinations are missing:")
    
    # Convert missing combinations to a DataFrame for better visualization
    missing_df = pd.DataFrame(list(missing_combinations), columns=["Bundesland", "Berufsgruppe", "Year"])
    print(missing_df)
else:
    print("The DataFrame contains data for all Bundesländer, Berufsgruppen, and Years.")

In [43]:
# Get unique values for 'Bundesländer', 'Berufsgruppen', and 'Year'
unique_bundeslaender = df["bland"].unique()  # Replace with the actual column name for Bundesländer
unique_berufsgruppen = df["kldb2010_3_akvs"].unique()  # Replace with the actual column name for Berufsgruppen
unique_years = df["year"].unique()  # Replace with the actual column name for Years

# Create a Cartesian product of all possible combinations
import itertools
import pandas as pd

all_combinations = pd.DataFrame(
    list(itertools.product(unique_bundeslaender, unique_berufsgruppen, unique_years)),
    columns=["bland", "kldb2010_3_akvs", "year"]
)

# Merge the complete combinations with the original DataFrame
complete_df = all_combinations.merge(df, on=["bland", "kldb2010_3_akvs", "year"], how="left")

complete_df.to_csv("C:\\Users\\jhummels\\OneDrive - DIW Berlin\\Gehlen, Annica's files - retirement-labor-shortages\\Data\\complete_df_Rente.csv", index=False)

# Display the first few rows of the complete DataFrame
complete_df.head()

,bland,kldb2010_3_akvs,year,rente_regel,arbeitet_ft,rente_beslang,rente_lang,rente_schwerb,rente_em,arbeitet,rentner,alter_rentenzugang,rtbt,pfmo,counter
0,0,0.0,2022,0.641261,0.000000,0.055957,0.207689,0.008529,0.091348,0.000000,0.967357,64.729759,254.228054,332.55533,101185.0
1,0,0.0,2012,0.697424,0.000012,0.000877,0.212008,0.014003,0.013805,0.000012,0.976814,64.835846,208.726907,305.28818,80912.0
2,0,0.0,2013,0.637677,0.000000,0.001104,0.243748,0.011445,0.015971,0.000000,0.983574,64.750740,203.280804,309.58588,118651.0
3,0,0.0,2014,0.642829,0.000007,0.010499,0.226562,0.009408,0.017817,0.000007,0.987688,64.813850,203.186392,308.92892,152210.0
4,0,0.0,2015,0.641167,0.000000,0.019832,0.217362,0.008198,0.020619,0.000006,0.988782,64.821823,206.461111,310.60889,180418.0

In [ ]:
complete_df.isnull().sum()

In [ ]:
missing_alter_rentenzugang = (
    complete_df.groupby('kldb2010_3_akvs')['alter_rentenzugang']
    .apply(lambda x: x.isnull().sum())
    .sort_values(ascending=False)
)

import matplotlib.pyplot as plt

plt.figure(figsize=(10, 100))
missing_alter_rentenzugang.plot(kind='barh')

plt.title('Number of Missing "Alter_Rentenzugang" Values by Beruf')
plt.xlabel('Count of Missing Values')
plt.ylabel('Beruf')
plt.gca().invert_yaxis()  # Optional: highest values on top
plt.grid(axis='x', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.show()

In [33]:
# Step 1: Get top 100 Berufe with most missing 'Alter_Rentenzugang' values
top_100_missing_berufe = (
    complete_df.groupby('kldb2010_3_akvs')['alter_rentenzugang']
    .apply(lambda x: x.isnull().sum())
    .sort_values(ascending=False)
    .head(100)
    .index
)

# Step 2: Filter the original DataFrame to exclude those Berufe
df_filtered = complete_df[~complete_df['kldb2010_3_akvs'].isin(top_100_missing_berufe)]

df_filtered.isnull().mean()

bland                 0.000000
kldb2010_3_akvs       0.005000
year                  0.000000
rente_regel           0.321631
arbeitet_ft           0.321631
rente_beslang         0.321631
rente_lang            0.321631
rente_schwerb         0.321631
rente_em              0.321631
arbeitet              0.321631
rentner               0.321631
alter_rentenzugang    0.326631
rtbt                  0.326631
pfmo                  0.326631
counter               0.321631
dtype: float64

In [38]:
# Count NaNs by Bundesländer
complete_df.groupby('bland').apply(lambda g: g.isnull().mean())

C:\Users\jhummels\AppData\Local\Temp\ipykernel_2096\1347490817.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  complete_df.groupby('bland').apply(lambda g: g.isnull().mean())

,bland,kldb2010_3_akvs,year,rente_regel,arbeitet_ft,rente_beslang,rente_lang,rente_schwerb,rente_em,arbeitet,rentner,alter_rentenzugang,rtbt,pfmo,counter
bland,,,,,,,,,,,,,,,
0,0.0,0.003333,0.0,0.571818,0.571818,0.571818,0.571818,0.571818,0.571818,0.571818,0.571818,0.575152,0.575152,0.575152,0.571818
1,0.0,0.003333,0.0,0.544545,0.544545,0.544545,0.544545,0.544545,0.544545,0.544545,0.544545,0.547879,0.547879,0.547879,0.544545
2,0.0,0.003333,0.0,0.563030,0.563030,0.563030,0.563030,0.563030,0.563030,0.563030,0.563030,0.566364,0.566364,0.566364,0.563030
3,0.0,0.003333,0.0,0.531818,0.531818,0.531818,0.531818,0.531818,0.531818,0.531818,0.531818,0.535152,0.535152,0.535152,0.531818
4,0.0,0.003333,0.0,0.626970,0.626970,0.626970,0.626970,0.626970,0.626970,0.626970,0.626970,0.630303,0.630303,0.630303,0.626970
5,0.0,0.003333,0.0,0.524545,0.524545,0.524545,0.524545,0.524545,0.524545,0.524545,0.524545,0.527879,0.527879,0.527879,0.524545
6,0.0,0.003333,0.0,0.471515,0.471515,0.471515,0.471515,0.471515,0.471515,0.471515,0.471515,0.474848,0.474848,0.474848,0.471515
7,0.0,0.003333,0.0,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.541515,0.541515,0.541515,0.538182
8,0.0,0.003333,0.0,0.525455,0.525455,0.525455,0.525455,0.525455,0.525455,0.525455,0.525455,0.528788,0.528788,0.528788,0.525455
9,0.0,0.003333,0.0,0.526667,0.526667,0.526667,0.526667,0.526667,0.526667,0.526667,0.526667,0.530000,0.530000,0.530000,0.526667
10,0.0,0.003333,0.0,0.604848,0.604848,0.604848,0.604848,0.604848,0.604848,0.604848,0.604848,0.608182,0.608182,0.608182,0.604848
11,0.0,0.003333,0.0,0.546667,0.546667,0.546667,0.546667,0.546667,0.546667,0.546667,0.546667,0.550000,0.550000,0.550000,0.546667
12,0.0,0.003333,0.0,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.538182,0.541515,0.541515,0.541515,0.538182
13,0.0,0.003333,0.0,0.558485,0.558485,0.558485,0.558485,0.558485,0.558485,0.558485,0.558485,0.561818,0.561818,0.561818,0.558485
14,0.0,0.003333,0.0,0.534545,0.534545,0.534545,0.534545,0.534545,0.534545,0.534545,0.534545,0.537879,0.537879,0.537879,0.534545
15,0.0,0.003333,0.0,0.550606,0.550606,0.550606,0.550606,0.550606,0.550606,0.550606,0.550606,0.553939,0.553939,0.553939,0.550606
16,0.0,0.003333,0.0,0.553939,0.553939,0.553939,0.553939,0.553939,0.553939,0.553939,0.553939,0.557273,0.557273,0.557273,0.553939

In [ ]:
# Count NaNs by Year
complete_df.groupby('year').apply(lambda g: g.isnull().mean())

In [ ]:
# Step 1: Calculate missing rate per Year-Month
year_missing = (
    complete_df.groupby(['year'])['alter_rentenzugang']
    .apply(lambda x: x.isnull().mean())
    .reset_index(name='missing_rate')
)

# Step 3: Missing rate per Bundesland
bundesland_missing = (
    complete_df.groupby('bland')['alter_rentenzugang']
    .apply(lambda x: x.isnull().mean())
    .sort_values(ascending=False)
)

# Step 4: Print summary
print("\nYears with highest missing rates:")
print(year_missing.sort_values('missing_rate', ascending=False).head(12))

print("\nBundesländer with highest missing rates:")
print(bundesland_missing.head(10))

# Step 5: Visualize top 12 months with highest missing rates
import matplotlib.pyplot as plt

top_months = year_missing.sort_values('missing_rate', ascending=False).head(12)

plt.figure(figsize=(10, 6))
plt.barh(top_months['year'], top_months['missing_rate'], color='coral')
plt.xlabel('Missing Rate')
plt.ylabel('Year')
plt.title('Top Years with Highest Missing Rates in "Zugang"')
plt.gca().invert_yaxis()
plt.grid(axis='x', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.show()

# Step 6: Visualize top 16 Bundesländer with highest missing rates
top_bundeslaender = bundesland_missing.head(16)

plt.figure(figsize=(8, 6))
top_bundeslaender.plot(kind='barh', color='steelblue')
plt.xlabel('Missing Rate')
plt.ylabel('Bundesland')
plt.title('Top 16 Bundesländer with Highest Missing Rates in "Zugang"')
plt.gca().invert_yaxis()
plt.grid(axis='x', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.show()